video{
    height: 560px;
    width: 560px;
    color: black;
}
body{
    background-color: antiquewhite;
}
h1{
    color: brown;
    text-align: left;
    margin-left: 10px;
}

div{
    text-align: left;
    margin-left: 10px;
}