@charset "utf-8";

/* *{
    padding: 0;
    margin: 0;

} */

body {
    background-color: black;
}

div.container {
    border: 2px solid brown;
    background-color: rgb(54, 54, 214);
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

div.caixa{
    background-color: white;
    border: 1px solid red;
}

.caixa1 {
    background-color: rgb(126, 126, 24);
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
}

.caixa2 {
    background-color: blueviolet;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}

.caixa3 {
    background-color: brown;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 5;
}